<div th:fragment="footer">
    <footer class="footer bg-black text-white text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div>
                        <br>
                        <h4 class="text-uppercase mb-4">Адрес</h4>
                        <p class="lead mb-0">Краснодар, ул.Красная 135</p>
                        <br>
                        <p class="lead mb-0">Дмитрий Попков</p>
                    </div>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <br>
                    <h4 class="text-uppercase mb-4"></h4>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <br>
                    <h4 class="text-uppercase mb-4">Что мы такое</h4>
                    <p class="lead mb-0">
                        Автомастерская мечты.
                    </p>
                </div>
                <div class="copyright py-4 bg-black text-center text-white">
                    <div class="container"><small>Copyright © Dmitry</small></div>
                </div>
            </div>
        </div>
    </footer>
</div>